#wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: all 0.3s ease;
    background-color: #343a40;
}
#sidebarToggle {
    border: none;
    box-shadow: none;
    background-color: transparent;
}

#page-content-wrapper {
    flex: 1;
    transition: all 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 90px;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 0;
}

#sidebar-wrapper .list-group-item {
    text-align: left;
    border: none;
    color: white;
}

#wrapper.toggled #sidebar-wrapper .list-group-item {
    text-align: center;
}

#wrapper.toggled .list-group-item i {
    margin-right: 0;
}

#wrapper.toggled .list-group-item span {
    display: none;
}

.sidebar-heading {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.sidebar-heading img {
    height: 40px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 150px;
    }

    #page-content-wrapper {
        margin-left: 0;
    }
}